*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color:#333;
    background-color: #fff;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.top-nav,.inner{
    width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

input,button,textarea,select{
    font-family: inherit;
    font-size: inherit;
    outline: none;
}